
.maincontainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
form h2
{
    text-transform: capitalize;
}
form {

    margin-top: 5rem;
    width: 25%;
    min-width: 500px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    padding: 2.5rem;
    border-radius: 0.25em;
}

label {
    display: block;
    text-align: left;
    margin: 0.5em 0.5em;
    font-size: 1.25rem;
    color: #fff;
}
select option
{
    background-color: #1c252b;
    color :#fff;    
}
input,
select {
    width: 100%;
    min-height: 2rem;
    font-weight: 400;
    font-family: sans-serif !important;
    background-color: #f2f2f2;
    border: 1px solid #111;
    color: #111;
    padding: 0.5rem;
    border-radius: 0.5em;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    outline: none;

}

input[type=text]:focus {

    outline: 1px solid #285AEB;
}

input[type="submit"] {
    width: 80%;
    background-color: #A5D7E8;
    font-family: sans-serif;
    padding: 1rem;
    margin: 1rem auto;
    cursor: pointer;

}
input[type="submit"]:hover
{
    background-color: #3E6D9C;
    color: #f2f2f2;
    transition: 0.5s ease;
}   

input[disabled]
{
    background-color: #696969;
    cursor: not-allowed;
}

#container {
    margin-bottom: 5rem;
}

.employee {
    background-color: #1c252b;
    margin: 2rem;
    padding: 2rem;
    font-size: 17px;
    position: relative;
    margin-bottom: 7rem;
    width: 60%;
    height: 60%;
}

.employee:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.8);
    transition: 0.5s all ease;
}

.img-content {
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}



.colors-section {
    top: 0;
    left: 0;
    position: relative;
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.Administration {
    background-color: #19376D;
}

.Marketing {
    background-color: #576CBC;
}

.Development {
    background-color: #0B2447;
}

.Finance {
    background-color: #66347F;
}

.text-color {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2rem;
    vertical-align: middle;
}

@media screen and (min-width: 992px) {
    #container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

}

@media screen and (max-width: 1020px) {
    .maincontainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}

@media screen and (min-width: 1200px) {
    #container {
        grid-template-columns: repeat(3, 1fr);
    }

    .employee {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .employee {
        width: 50%;
    }
}

@media screen and (min-width:500px) {
    .employee {
        margin-bottom: 12rem;
    }

    #container {
        margin: 0 auto;
        text-align: center;
        display: grid;
        justify-items: center;

    }

    .circle {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:1370px) {
    .text-color {
        overflow: hidden;
    }

    .circle {
        overflow: hidden;
    }
}

